/* .nav-img {
  background-image: url('../../public//assets/mobile/bg-pattern-header.svg');
}

@media screen and  (min-width:640px) {
  .nav-img {
    background-image: url('../../public//assets/tablet/bg-pattern-header.svg');
  }
}

@media screen and  (min-width:1024px) {
  .nav-img {
    background-image: url('../../public//assets/desktop/bg-pattern-header.svg');
  }
}

 */
